[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MDPIexploreR"]
	path = MDPIexploreR
	url = https://github.com/pgomba/mdpi_explorer
